.header {
    margin: 28px 48px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* стили для малого смартфона */
@media screen and (max-width: 768px) {
    .header {
        margin: 28px 24px 48px 24px;
    }
}

/* стили для малого смартфона */
@media screen and (max-width: 550px) {
    .header {
        margin: 16px 16px 48px 16px;
    }
}