.place__paragraph {
    margin: 0 0 26px 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #FFF;
}

.place__paragraph:last-of-type {
    margin: 0;
    padding: 0;
}

/* стили для планшета */
@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        ;
    }
}

/* стили для малого смартфона */
@media screen and (max-width: 320px) {}