.footer__link {
    margin: 0 18px 0 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
    transition: opacity .3s linear;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* стили для планшета */
@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 14px;
    }
}

/* стили для малого планшета и смартфона */
@media screen and (max-width: 710px) {
    .footer__link {
        font-size: 24px;
        margin: 0 0 32px 0;
    }
}