.footer__copyright {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    text-align: right;
    color: #fff;
}

/* стили для малого планшета и смартфона */
@media screen and (max-width: 710px) {
    .footer__copyright {
        text-align: left;
    }
}