.place__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    color: #fff;
}

/* стили для планшета */
@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
    }
}

/* стили для малого смартфона */
@media screen and (max-width: 550px) {
    .place__title {
        font-size: 35px;
        margin: 0 16px 0 16px;
    }
}