.place__link {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #fff;
    transition: opacity .3s linear;
}

.place__link:hover {
    opacity: .8;
}